a {
  color: #4E92D0;
  &:link {text-decoration: none;}
  &:visited {text-decoration: none;}
  &:hover {color: orange; text-decoration: underline; cursor:pointer;}
  &:active {text-decoration: underline;}
}

code {
  font-family: Consolas,Menlo,Courier,monospace;
}

.el-page-header__content{
  font-size: 18px;
  font-weight: 600;
  color: rgb(73, 80, 96);
}

